<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/toastr.min.css" rel="stylesheet" />
		<style>
			.col-lg-4 button,.col-md-4 button{
				height: 50px;
				margin-top: 50px;
			}
		</style>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/toastr.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<div class="row container-fluid">
					<div class="col-lg-4 col-md-4">
						<button type="button" class="btn btn-block btn-success"><i class="glyphicon glyphicon-tags"></i> 档案管理</button>
					</div>
					<div class="col-lg-4 col-md-4">
						<button type="button" class="btn btn-block btn-success"><i class="glyphicon glyphicon-tags"></i> 班级管理</button>
					</div>
					<div class="col-lg-4 col-md-4">
						<button type="button" class="btn btn-block btn-success"><i class="glyphicon glyphicon-tags"></i> 缴费管理</button>
					</div>
					<div class="col-lg-4 col-md-4">
						<button type="button" class="btn btn-block btn-success"><i class="glyphicon glyphicon-tags"></i> 课程管理</button>
					</div>
					<div class="col-lg-4 col-md-4">
						<button type="button" class="btn btn-block btn-success"><i class="glyphicon glyphicon-tags"></i> 成绩管理</button>
					</div>
					<div class="col-lg-4 col-md-4">
						<button type="button" class="btn btn-block btn-success"><i class="glyphicon glyphicon-tags"></i> 注销登录</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var toastr = parent.toastr;
	</script>
</html>