<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/toastr.min.css" rel="stylesheet" />
	<style>
		.table thead tr th {
			text-align: center;
		}
	</style>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/toastr.min.js"></script>
	<script src="../js/jquery.cookie.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../js/uuid.js"></script>
	<script src="../js/common.js"></script>
</head>

<body>
	<div id="app" class="contentpanel">
		<div class="panel panel-group">
			<div class="panel-heading">
				<div class="panel-title">处分情况管理</div>
			</div>
			<div class="panel-body">
				<form action="" class="form-horizontal" id="searchFrom" method="post">
					<input type="hidden" v-model="sessionId" name="sessionId" />
					<div class="row">
						<div class="col-lg-8 col-sm-9 col-md-9">
							<div class="form-group">
								<div class="col-xs-3">
									<input type="text" v-model="id" class="form-control" name="id" placeholder="搜索学生学号">
								</div>
								<div class="col-xs-3">
									<input type="text" v-model="name" class="form-control" name="name" placeholder="搜索学生姓名">
								</div>
								<div class="col-xs-3">
									<select name="specialtyType" class="form-control" v-model="specialtyType">
										<option value="">所有专业</option>
										<option value="语文">语文</option>
										<option value="数学">数学</option>
										<option value="英语">英语</option>
										<option value="计算机">计算机</option>
										<option value="物理">物理</option>
									</select>
								</div>
								<div class="col-xs-3">
									<select name="classroom" class="form-control" v-model="classroom">
										<option value="">所有班级</option>
										<option value="1">1年级1班</option>
										<!-- <option value="数学">数学</option>
										<option value="英语">英语</option>
										<option value="计算机">计算机</option>
										<option value="物理">物理</option> -->
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-3 col-sm-3 pull-right text-right">
							<a href="javascript:void(0)" class="btn btn-primary" @click="search()">
								<i class="fa fa-search"></i> 查询</a>
							<a href="javascript:void(0)" class="btn btn-primary" @click="clear_input()">
								<i class="fa fa-remove"></i> 清空</a>
							<a href="javascript:void(0)" class="btn btn-primary" @click="insertInfo()">
								<i class="fa fa-remove"></i> 新增</a>
						</div>
					</div>
				</form>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">学生获奖情况表</div>
				</div>
				<div class="panel-body">
					<table class="table table-stripped table-bordered text-center">
						<thead>
							<tr>
								<th>学号</th>
								<th>姓名</th>
								<th>性别</th>
								<th>班级</th>
								<th>处分级别</th>
								<th style="width: 35%;">原因</th>
								<th v-if="editable">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in showItems()">
								<td>1</td>
								<td>菠萝</td>
								<td>男</td>
								<td>1年级1班</td>
								<td>
									<select class="form-control">
										<template v-for="punishment in punishmentType">
											<option v-bind:value="punishment.id" v-html="punishment.name"
											 v-bind:selected="punishment.id==item.punishmentId"></option>
										</template>
									</select>
								</td>
								<td style="width: 35%;">
									<textarea class="form-control text-center" rows="5" cols="20" style="height: 50px;overflow-y: auto;width: 100%;">寝室抽烟</textarea>
								</td>
								<td>
									<button class="btn btn-primary btn-xs">修改</button>
									<button class="btn btn-danger btn-xs">删除</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<div class="col-lg-7 col-md-8">
						<nav aria-label="Page navigation ">
							<ul class="pagination">
								<li>
									<span>当前为第
										<span v-html="pageIndex"></span>页,总页数为
										<span v-html="pageCount"></span>,总记录为
										<span v-html="items.length"></span>条,每页10条</span>&nbsp;</li>
								<li>
									<a href="javascript:void(0)" aria-label="Previous" id="prev" @click="changePage(1)">
										<span aria-hidden="true">首页</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" aria-label="Previous" id="prev" @click="changePage(pageIndex - 1)">
										<span aria-hidden="true">上一页</span>
									</a>
								</li>
								<template v-for="index in pageCount">
									<li v-if="index == pageIndex + 5">
										<a href="javascript:void(0)">...</a>
									</li>
									<li v-if="index < pageIndex + 5 &&  index > pageIndex - 5">
										<a href="javascript:void(0)" @click="changePage(index)" id="current" :class="index == pageIndex ? 'active' : ''">{{index}}</a>
									</li>
									<li v-if="index == pageIndex - 5">
										<a href="javascript:void(0)">...</a>
									</li>
								</template>
								<li disabled="disabled">
									<a href="javascript:void(0)" aria-label="Next" id="next" @click="changePage(pageIndex + 1)">
										<span aria-hidden="true">下一页</span>
									</a>
								</li>
								<li disabled="disabled">
									<a href="javascript:void(0)" aria-label="Next" id="next" @click="changePage(pageCount)">
										<span aria-hidden="true">尾页</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-4 col-md-4 col-lg-offset-1">
						<nav aria-label="Page navigation ">
							<ul class="pagination pull-right">
								<li>
									<a>跳转到</a>
								</li>
								<li>
									<a style="padding: 0px;border: 0px;">
										<input type="number" class="form-control" style="display: inline-block;width: 70px;" 
										v-model="inputPageIndex" id="inputPageIndex"/>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" @click="changePage(inputPageIndex)">确认</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	var toastr = parent.toastr;
	var punishmentType = [{id:1, name: '警告处分'},
						  {id:2, name: '记过处分'}]
	var students = [{punishmentId:1}, {punishmentId:1}, {punishmentId:2}];
	var app = new Vue({
		el: '#app',
		data: {
			sessionId: parent.app.sessionId, //cookie中的个人信息
			SERVER_ADDRESS: SERVER_ADDRESS, //服务器请求地址
			VIEW_ADDRESS: VIEW_ADDRESS, //页面的地址
			BASE_ADDRESS: BASE_ADDRESS, //页面服务器地址
			id: '', //学生学号
			specialtyType: '', //专业类型
			name: '', //学生姓名,
			classroom: '', //班级
			items: students, //数据
			editable: true, //是否可以编辑数据
			pageIndex: 1, //当前页面页标
			targetPageIndex: 1, //跳转到的目标页标
			inputPageIndex: 1,
			pageCount: Math.ceil(students.length / 10), //总页数
			punishmentType: punishmentType		//处分类型
		},
		methods: {
			//翻页
			changePage: function (index) {
				this.targetPageIndex = index;
				// this.pageIndex = index;
				// this.showItems();
			},
			//展示数据
			showItems: function () {
				if (this.targetPageIndex > this.pageCount || this.targetPageIndex <= 0) {
					// this.pageIndex = 1;
					this.targetPageIndex = this.pageIndex;
					toastr.error("获取翻页数据错误！");
					return this.items.slice((this.pageIndex - 1) * 10, this.pageIndex * 10);
				}
				this.pageIndex = this.targetPageIndex;
				var showItems = this.items.slice((this.pageIndex - 1) * 10, this.pageIndex * 10)
				return showItems;
			},
			//清空表单
			clear_input: function () {
				$('#searchFrom')[0].reset();
			},
			//按条件查询信息
			search: function () {
				//TODO dopost
			},
			//获取url参数
			getUrlParam: function (name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg);  //匹配目标参数
				if (r != null) return unescape(r[2]); return null; //返回参数值
			}
		},
		created: function () {

		}
	});
</script>

</html>
