<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/toastr.min.css" rel="stylesheet" />
		<style>
			.table thead tr th{
				text-align: center;
			}
		</style>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/toastr.min.js"></script>
		<script src="../js/jquery.cookie.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/vue.js"></script>
		<script src="../js/uuid.js"></script>
		<script src="../js/common.js"></script>
	</head>
	<body>
		<div id="app" class="contentpanel">
			<div class="panel panel-group">
				<div class="panel-heading">
					<h3 class="panel-title">成绩管理</h3>
				</div>
				<div class="panel-body">
					<form action="" class="form-horizontal" id="searchFrom" method="post">
						<input type="hidden" v-model="sessionId" name ="sessionId"/>
						<div class="row">
							<div class="col-sm-9 col-md-9">
								<div class="form-group">
									<div class="col-xs-4">
										<input type="text" v-model="name" class="form-control" name="name" placeholder="搜索学生姓名">
									</div>
									<div class="col-xs-4">
										<select name="coursesType" class="form-control" v-model="coursesType">
											<option value="">所有学科</option>
											<option value="语文">语文</option>
											<option value="数学">数学</option>
											<option value="英语">英语</option>
											<option value="计算机">计算机</option>
											<option value="物理">物理</option>
										</select>
									</div>
									<div class="col-xs-4">
										<select name="scoreScope" class="form-control" v-model="scoreScope">
											<option value="">所有分数区间</option>
											<option value="1">80~100</option>
											<option value="2">60~80</option>
											<option value="3">0~60</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-md-3 pull-right text-right">
								<a href="javascript:void(0)" class="btn btn-primary" onclick="do_from(1)"><i class="fa fa-search"></i> 查询</a>
								<a href="javascript:void(0)" class="btn btn-primary" onclick="clear_input()"><i class="fa fa-remove"></i> 清空</a>
							</div>
						</div>
						<!-- row-->
					</form>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">学生成绩表</div>
					</div>
					<div class="panel-body">
						<table class="table table-stripped table-bordered text-center">
							<thead>
								<tr>
									<th>学号</th>
									<th>姓名</th>
									<th>性别</th>
									<th>专业</th>
									<th>分数</th>
									<th>学科</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
								<tr>
									<td>1</td>
									<td>菠萝</td>
									<td>男</td>
									<td>计算机</td>
									<td>80</td>
									<td>计算机</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
						<div class="col-lg-7 col-md-8">
							<nav aria-label="Page navigation ">
								<ul class="pagination">
									<li><span>当前为第{{pageIndex}}页,总页数为{{pageCount}},总记录为0条,每页10条</span>&nbsp;</li>
									<li>
										<a href="#" aria-label="Previous" id="prev" @click="changePage(pageIndex - 1)">
											<span aria-hidden="true">上一页</span>
										</a>
									</li>
									<template v-for="index in pageCount">
										<li>
											<a type="button" v-if="index < pageIndex + 6 &&  index > pageIndex - 6" @click="changePage(index)" id="current" :class="index == pageIndex ? 'active' : ''">{{index}}</a>
										</li>
									</template>
									<li disabled="disabled">
										<a href="#" aria-label="Next" id="next" @click="changePage(pageIndex + 1)">
											<span aria-hidden="true">下一页</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="col-lg-4 col-md-4 col-lg-offset-1">
							<nav aria-label="Page navigation ">
								<ul class="pagination pull-right">
									<li><a>跳转到</a></li>
									<li>
										<a style="padding: 0px;border: 0px;">
											<input type="number" class="form-control" style="display: inline-block;width: 70px;" v-model="targetPageIndex" id="targetPageIndex" />
										</a>
									</li>
									<li><a type="button" href="javascript:void(0);" @click="changePage(targetPageIndex)">确认</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</body>
	<script>
		var toastr = parent.toastr;
		var app = new Vue({
			el: '#app',
			data: {
				sessionId:parent.app.sessionId,
				SERVER_ADDRESS:SERVER_ADDRESS,
				VIEW_ADDRESS:VIEW_ADDRESS,
				BASE_ADDRESS:BASE_ADDRESS,
				coursesType:'',
				name:'',
				scoreScope:'',
				items:[],
				pageIndex:1,
				targetPageIndex:1,
				pageCount:1
			},
			methods:{
				changePage:function(index){
					this.pageIndex = index;
					this.showItems();
				},
				showItems:function(){
					if(this.pageIndex > this.pageCount || this.pageIndex <= 0){
						this.pageIndex = 1;
						toastr.error("获取翻页数据错误！");
						return this.items.slice(0, 10);
					}
					var showItems = this.items.slice((this.pageIndex - 1) * 10, this.pageIndex * 10)
					return showItems;
				}
			},
			created: function(){
				
			}
		});
		
	</script>
</html>